# DIR

autostart/
BraveSoftware/
btop/
cachyos/
dconf/
fish/
# ghostty/
GIMP/
gtk-3.0/
# hypr/
mpv/
kanshi/
micro/
mozilla/
ncspot/
nvim/
obs-studio/
pulse/
# rofi/
systemd/
# Thunar/
session/
VSCodium/
# waybar/
xfce4/
yay/

# Dir hypr
hypr/userConfigs/*
hypr/userScripts/*

# Files
cachyos-hello.json
dolphinrc
kwalletrc
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
mimeapps.list
QtProject.conf
